server:
  port: 8080
  servlet:
    session:
      cookie:
        name: SESSIONID

spring:
  datasource:
      url: jdbc:mysql://localhost:3306/mytest?characterEncoding=utf8&useSSL=false
      username: root
      password: 12345678
  jpa:
    database: MYSQL
    show-sql: true
  ## Hibernate ddl auto (validate|create|create-drop|update)
    hibernate:
      ddl-auto: update
      naming-strategy: org.hibernate.cfg.ImprovedNamingStrategy
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect
        enable_lazy_load_no_trans: true
